@import "./variables";

body {
  background: $bg-color;
  color: $white;
}

label {
  display: block;

  input[type="radio"] {
    margin-right: 5px;
  }
}

.wrapper {
  height: 94vh;
}

.box-border {
  border: solid 2px $blue;
  padding: 10px;
}