@import "./variables";
@import "./mixin/animation";

body {
  background: $bg-color;
  color: $white;
}

label {
  display: block;

  input[type="radio"] {
    margin-right: 5px;
  }
}

.wrapper {
  height: 94vh;
}

.box-border {
  border: solid 2px $blue;
  padding: 10px;
}

.title {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: solid 1px $blue;
  font-size: 16px;
  color: $white;
}

.note {
  color: $blue;
  font-weight: bold;
  line-height: 1.3rem;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button {
  border-radius: 5px;
  cursor: pointer;
  @include ease-animation;
  &:hover {
    opacity: 0.7;
  }
}

.button--light {
  border: solid 1px $light-blue;
  background: $dark-blue;
  color: $light-blue;
}

.button--normal {
  border: solid 1px $blue;
  background: none;
  color: $blue;
}