@import "../variables";

.menuTitle {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: solid 1px $blue;
  font-size: 16px;
  color: $white;
}

.noteText {
  color: $blue;
  font-weight: bold;
  line-height: 1.3rem;
}

.textOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}