@import "../variables";

.header {
  border-bottom: solid 2px $blue;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.right a {
  color: $blue;
}