@import "../variables";

.modalContainer {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 10px;
  background: $bg-color;
  border: solid 1px $light-blue;
  // opacity: 0.95;
}

.buttonsBox {
  display: flex;
  gap: 8px;
}

.modalContainerHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.confirmButton {
  padding: 5px 15px;
}