.viewer {
  width: 100%;
  height: 100%;
}

.downloadButton {
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px 10px;
  background-color: #2d363a;
  color: #90bcd0;
  border: solid 1px #90bcd0;
}
