@import "../variables";
@import "../mixin/animation";
.viewerContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $bg-color;
  @include ease-animation;

  model-viewer {
    width: 100%;
    height: 100%;
  }

  .viewer {
    width: 100%;
    height: 100%;
    min-height: 400px;
    display: block;
  }
}

.lightMode {
  background-color: $white;
}

.dragging {
  border: 2px dashed #3498db;
}

.dropOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.dropOverlay p {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.buttonGroup {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: flex;
  gap: 5px;
}

.modeToggleButton {
  padding: 7px 10px;
  background: $dark-blue;
  border: solid 1px $light-blue;
  color: $light-blue;
  font-size: 16px;
  cursor: pointer;
  line-height: 1;
}

.modeToggleButton:hover {
  opacity: 0.7;
  @include ease-animation;
}

.lightModeActive {
  background: $white;
  border-color: $dark-blue;
}

.downloadButton {
  padding: 7px 10px;
  background: $dark-blue;
  border: solid 1px $light-blue;
  color: $light-blue;
  font-size: 16px;
  cursor: pointer;
}

.downloadButton:hover {
  opacity: 0.7;
  @include ease-animation;
}
